
.GameTurn {
  display: flex;

  border: 1px solid black;
  border-radius: 20px;
  width:280px;
  margin: 4px;
  
  button {
    border-radius: 20px;
    margin: 8px;
    border: 1px solid black;
  }
}

.Circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px;


  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: black;

  &.empty {
    box-shadow: inset 3px 3px 2px grey;
    background-color: lightgray;
    border: 1px solid transparent;
  }

  &.red {
    background: red;
    background: radial-gradient(circle at 33% 33%, red, #440000);
  }

  &.green {
    background: #27a527;
    background: radial-gradient(circle at 33% 33%, #27a527, #0f3f0f);
    color: white;
  }

  &.blue {
    background: #4444ff;
    background: radial-gradient(circle at 33% 33%, #4444ff, #171759);
    color: white;
    
  }

  &.yellow {
    background: #ffff00;
    background: radial-gradient(circle at 33% 33%, #ffff00, #5b5b00);
    border: 1px solid black;
  }

  &.black {
    background: #000000;
    background: radial-gradient(circle at 33% 33%, #666666, #000000);
    color: white;
  }

  &.white {
    background: #ffffff;
    background: radial-gradient(circle at 33% 33%, #ffffff, #565656);
    border: 1px solid black;
  }

  
}

.Score {
  display: grid;
  width: 40px;
  height: 40px;
  margin: 12px 8px 0px;

  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  div {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: transparent;

    background-color: lightgrey;

    box-shadow: inset 1px 1px 1px grey;
   
    &.b {
      border: 0.5px solid black;
      background: radial-gradient(circle at 33% 33%, #666666, #000000);
      background-color: black;
      box-shadow: none;
    }

    &.w {
      border: 0.5px solid black;
      background: white;
      background: radial-gradient(circle at 33% 33%, #ffffff, #565656);
      box-shadow: none;
    }
  }
}